$blue_dark: #0b2b33;
$blue_dark2: #23323a;
$blue: #008fd5;
$blue_light: #8cd9ff;

* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}
// HEADER NAVBAR TOP
// HEADER NAVBAR TOP
// HEADER NAVBAR TOP
.upperNav {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
    p {
      font-family: "Montserrat", sans-serif;
      color: $blue_dark;
      font-size: 20px;
      letter-spacing: 5px;
      margin: 10px 0 0 20px;
    }
  }
  .contact {
    padding-top: 10px;
    display: flex;
    align-items: center;
    p {
      color: $blue_dark;
      font-size: 11px;
      text-transform: uppercase;
      margin-right: 15px;
    }
    a {
      margin-left: 15px;
      img {
        &:hover {
          opacity: 0.8;
          transition: 0.2s;
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px !important;
  }
}
@media only screen and (max-width: 768px) {
  .upperNav {
    .row {
      padding: 0 10px 10px 10px;
      .logo {
        padding-bottom: 0;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .upperNav {
    .row {
      flex-direction: column;
      align-items: flex-start;
      .contact {
        flex-direction: column;
        align-items: flex-start;
        a:first-child {
          margin-left: 0;
        }
        p {
          span {
            display: none;
          }
        }
      }
    }
  }
}
// HEADER NAVBAR
// HEADER NAVBAR
// HEADER NAVBAR
.navbarTop {
  background: rgba(161, 194, 207, 1);
  background: linear-gradient(
    to bottom,
    rgba(161, 194, 207, 1) 0%,
    rgba(172, 205, 218, 1) 16%,
    rgba(172, 205, 218, 1) 100%
  );
  .row {
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: relative;
  }
  ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    li {
      margin-right: 25px;
    }
    .dropdown a {
      display: flex;
      align-items: center;
      color: black;
      font-size: 11px;
      padding: 5px 10px;
      p {
        color: black;
        font-size: 11px;
        margin-right: 10px;
      }
    }
    a.active {
      p {
        color: $blue;
      }
    }
    #dropdownMenuLink img.arrow {
      transition: 0.2s;
    }
    #dropdownMenuLink img.arrow.active {
      transform: rotate(90deg);
    }
  }
  .search a {
    padding: 10px 0 10px 10px;
  }
  .search__block {
    display: none;
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    right: 0;
    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      right: 14px;
      top: -37px;
      border-top: 20px solid transparent;
      border-left: 20px solid transparent;
      border-bottom: 17px solid $blue_dark2;
    }
    input[type="text"] {
      width: 215px;
      height: 60px;
      padding: 15px;
      border: none;
    }
    input[type="button"] {
      width: 60px;
      height: 60px;
      border: none;
      background-color: $blue_dark2;
      background-image: url(../img/navbar_searchBtnWhite.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .burgerRow {
    padding: 10px 10px 7px 10px;
    display: none;
    .burger {
      width: 30px;
      height: 30px;
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
    }
  }
  .hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease,
      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
@media only screen and (max-width: 768px) {
  .navbarTop {
    .row {
      justify-content: space-between;
      align-items: flex-end;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      .dropdown a.pl-0 {
        padding-left: 10px !important;      
      }
    }
    .search__block {
      margin-top: 60px;
    }
    .burgerRow {
      display: block;
    }
    .navRow {
      display: none;
      .search {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .navbarTop {
    .row {
      padding-right: 10px;
    }
    .search__block {
      right: 10px;      
    }
  }
}
// HEADER SWIPER
// HEADER SWIPER
// HEADER SWIPER
.headerSwiper {
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: url(../img/header_swiper_Img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    h1, p {
      font-size: 82px;
      color: white;
      line-height: 1;
      font-weight: 900;
      text-shadow: 0px 0px 10px rgb(0, 0, 0, 0.8);
      margin-top: 30px;
    }
    p.lower_text {
      font-size: 14px;
      margin-top: 40px;
      text-transform: uppercase;
      padding: 5px 0;
      border-top: 1px double rgb(255, 255, 255, 1);
      border-bottom: 1px double rgb(255, 255, 255, 1);
    }
  }
  .swiper-button-prev {
    left: 0px;
    width: 64px;
    height: 64px;
    background-image: url(../img/header_swiper_prev.png) !important;
    &::after {
      content: "" !important;      
    }
  }
  .swiper-button-next {
    right: 0px;
    width: 64px;
    height: 64px;
    background-image: url(../img/header_swiper_next.png) !important;
    &::after {
      content: "" !important;      
    }        
  }
}
@media only screen and (max-width: 992px) {
  .headerSwiper {
    .swiper-slide {
      padding-top: 40px;
      padding-bottom: 50px;
      h1,
      p {
        font-size: 62px;
        font-weight: 700;
      }
    }
    .swiper-button-prev {
      display: none !important;
    }
    .swiper-button-next {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .headerSwiper {
    .swiper-slide {
      img {
        height: 60px;
      }
      h1,
      p {
        font-size: 42px;
        font-weight: 700;
      }
      p.lower_text {
        font-size: 12px;
        margin-top: 30px;
        font-weight: 500;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .headerSwiper {
    .swiper-slide {
      padding-left: 10px;
      padding-right: 10px;
      h1,
      p {
        font-size: 30px;
        font-weight: 700;
      }
      p.lower_text {
        font-size: 12px;
        margin-top: 30px;
        font-weight: 500;
      }
    }
  }
}
// SERVICES
// SERVICES
// SERVICES
.services {
  background: rgba(34,171,192,1);
  background: linear-gradient(to bottom, rgba(34,171,192,1) 0%, rgba(1,144,210,1) 100%);
  .col-lg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  img {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 24px;   
    color: white;
  }
  p {
    font-size: 12px;
    color: $blue_light;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 992px) {
  .services {
    padding-top: 30px;
    padding-bottom: 30px;
    img {
      margin-top: 20px;
    }
    p {
      margin-bottom: 20px;
    }
  }
}
@media only screen and (max-width: 575px) {
  .services {
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px; 
    }
  }
}
// SERVICES
// SERVICES
// SERVICES
.projects {
  background-color: $blue_dark2;
  .container-fluid {
    padding: 0;      
  }
  .projects__Title {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 30px;
      font-weight: 300;
      color: white;
      text-align: center;
      padding-bottom: 15px;
    }
    p {
      color: #658190;
      text-align: center;
    }
  }
  .projects__List {
    .swiper-slide {
      width: 388px !important;    
    }
    .project__card {
      border-right: 1px solid $blue_dark2;
      &:first-child {
        border-left: 1px solid $blue_dark2;
      }
      &:hover .card__Text {
        background-color: #2f424d;    
      }
      .card__Img {
        background-image: url(../img/projects_Img.png);
        height: 202px;
        width: 388px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .optionBack {
          height: 60px;
          width: 60px;
          cursor: pointer;
          background-color: rgb(0, 0, 0, 0.3);
          display: flex;
          justify-content: center;
          align-items: center;
          border: 4px solid rgb(255, 255, 255, 0.5);
          &:hover {
            background-color: rgb(0, 0, 0, 0.4);      
          }
        }
        .mr-10 {
          margin-right: 10px;
        }
        .triangle {
          width: 0px;
          height: 0px;
          position: absolute;
          left: 22px;
          bottom: 0;
          border-right: 12px solid transparent;
          border-left: 12px solid transparent;
          border-bottom: 12px solid #2a3b45;
        }
      }
      .card__Text {
        padding: 25px 20px 30px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        background-color: #2a3b45;
        h4 {
          font-size: 18px;
          color: white;
        }
        p {
          font-size: 11px;
          color: #97a4ad;
          text-transform: uppercase;
          text-align: left;
            font-size: 300;
        }
        .like {
          display: flex;
          img {
            cursor: pointer;
          }
          .d_none {
            display: none;
          }
          p {
            color: #b0bac0;
            font-size: 300;
            margin-left: 5px;
          }      
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .projects {
    .projects__List {
      .swiper-slide, .project__card, .card__Img {
        width: 250px !important;    
      }
      .card__Img {
        background-position: center;
        background-size: cover;
      }
    }
    .projects__Title {
      padding-left: 10px;
      padding-right: 10px;
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
// ACTION
// ACTION
// ACTION
.action {
  background-color: #fcfcfc;
  border-bottom: 1px solid #eceded;
  padding-top: 50px;
  padding-bottom: 50px;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;   
  }
  .text {
    font-weight: 300;
    font-size: 34px;
    color: $blue_dark2;
    span {
      font-weight: 300;
      font-size: 34px;
      color: $blue;      
    }
  }
  button {
    background-color: $blue;
    padding: 20px 50px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 12px;
      font-weight: 300;
      color: white;
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
}
@media only screen and (max-width : 1200px) {
  .action {
    button {
      margin-top: 10px;
    }      
  }
}
@media only screen and (max-width : 768px) {
  .action {
    .row {
      padding-left: 10px;
      padding-right: 10px;
    }
    .text {
      font-size: 24px;
      span {
        font-size: 24px;  
      }
    }
  }
}

@media only screen and (max-width : 575px) {
  .action {
    .row {
      padding-left: 10px;
      padding-right: 10px;
    }     
  }
}
// ATB
// ATB
// ATB
.atb {
  padding-top: 40px;
  padding-bottom: 60px;
  h4 {
    font-size: 22px;
    color: $blue_dark2;
    margin-bottom: 25px;
  }
  .blog {
    padding: 0;      
  }
  .card__post {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .post__date-photo {
    display: flex;
  }
  .post__date {
    .number {
      font-size: 48px;
      font-weight: 300;
      color: $blue;
      line-height: 1;
      margin-bottom: 15px;
    } 
    .full-number {
      color: $blue_dark2;
      text-transform: uppercase;
      font-size: 11px;
    }
    img {
      padding: 20px 0 0 15px
    }
  }
  .post__photo {
    padding: 0 30px 0 15px;      
  }
  .post__main {
    width: 100%;
    .main__head {
      width: 100%;
      display: flex;
      align-items: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #e5e8ea;
      p {
        font-size: 10px;
        color: $blue_dark2;
        text-transform: uppercase;
      }
      .readMore {
        color: $blue;      
      }
      img {
        padding: 0 7px 0 12px;      
      }
    }
    .main__body {
      padding-top: 15px;
      .main__body--title {
        font-size: 18px;
        color: $blue;
        line-height: 22px;
      }  
      .main__body--text {
        font-size: 13px;
        color: #73848e;
        line-height: 20px;
      }          
    }
  }
  .accordion {
    .item {
      .title {
        border: 1px solid #ebeef0;
        height: 40px;
        display: flex;
        align-items: center;
        img {
          padding-left: 12px;
          padding-right: 12px;
        }
        p {
          font-size: 14px;
          padding-left: 15px;
          border-left: 1px solid #ebeef0;
          height: 100%;
          display: flex;
          align-items: center;
        }      
      }
      .body {
        color: #73848e;
        padding: 20px;
        display: none;
      }
      .open {
        display: block;
      }
    }
    .active {
      .title {
        p {
          color: $blue;
        }      
      }    
    }
  }
  .testimontials {
    padding: 0; 
    .message {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      div {
        background-color: $blue_dark2;
        height: 81px;
        padding-left: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        &::after {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          right: 20px;
          bottom: -37px;
          border-bottom: 20px solid transparent;
          border-left: 20px solid transparent;
          border-top: 17px solid $blue_dark2;
        }
        .name {
          font-size: 18px;
          color: white;
        }
        .company {
          font-size: 10px;
          color: $blue_light;
          text-transform: uppercase;
          font-weight: 300;
        }
      }
    }
    .main {
      display: flex;
      align-items: flex-start;
      img {
        padding: 5px 15px 0 10px;      
      }
      .title {
        font-size: 14px;
        color: $blue;
        padding-bottom: 25px;
      }
      .text {
        font-size: 13px;
        color: #73848e;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .atb {
    .accordion {
      padding: 0;
      margin-bottom: 40px;
    }
    .testimontials {
      .message {
        div {
          width: 188px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .atb {
    .card__post {
      display: flex;
      flex-direction: column;
    }
    .post__main {
      .main__head {
        padding-top: 20px;
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  .atb {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 375px) {
  .atb {
    padding-left: 10px;
    padding-right: 10px;
    .post__main {
      .main__head {
        img {
          padding: 0 5px 0 7px;      
        }
      }
    }
  }
}
// BLUE_BOX
// BLUE_BOX
// BLUE_BOX
.blue_box {
  background-image: url(../img/blue_back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 55px;
  padding-bottom: 55px; 
  .blue_photos {
    position: relative; 
    height: 290px;
    .photo_back {
      position: absolute;   
    }
    .photo_front {
      position: absolute;
      right: 0;
      .main {
        position: absolute;
        right: 15px;
        z-index: 3;
      }
      .shadow_Down {
        position: absolute;
        right: 0;
        top: 241px;
      }
      .shadow_Back {
        position: absolute;
        right: 35px;
        top: 211px;
        z-index: 2;
      }
    }
    .photo_back {
      position: absolute;
      right: 0;
      .main {
        position: absolute;
        right: 262px;
        top: 36px;
        z-index: 1;
      }
      .shadow_Down {
        position: absolute;
        top: 218px;
        right: 245px;
      }
      .shadow_Back {
        position: absolute;
        top: 170px;
        right: 0;
      }
    }
  }
  .blue_keyboard {
    display: flex;
    justify-content: flex-end;
    img {
      margin-right: 50px;      
    }
  }
  .blue_box__items {
    .item {
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid #00a2de;
      margin-bottom: 20px;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
      .px50 {
        min-width: 50px;
        margin: 10px 20px; 
        display: flex;
        justify-content: center;
      }
      h4 {
        font-weight: 300;
        font-size: 22px;
        color: white;
        margin-bottom: 10px;
      }   
      p {
        font-size: 13px;
        color: $blue_light;
        span {
          font-weight: 900;      
        }
        margin-bottom: 25px;
      }      
    }        
  }  
}
@media only screen and (max-width: 1200px) {
  .blue_box {
    .row {
      justify-content: center;    
    }
    .blue_Img {
      padding-bottom: 40px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .blue_box {
    .blue_Img {
      display: none;
    }
  }
}
// OUR_TEAM
// OUR_TEAM
// OUR_TEAM
.our_team {
  background-image: url(../img/our_team_back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 55px; 
  h2 {
    font-weight: 300;
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .our_team__item {
    margin-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      color: #f5f5f5;
      font-size: 18px;
      font-weight: 300;
      margin-top: 15px;
      text-align: center;
    }
    .type {
      color: #2691ac;
      font-size: 11px;
      font-weight: 900;
      margin-bottom: 15px;
      text-align: center;
    }
    .text {
      color: #b9c3ca;
      font-size: 13px;
      text-align: center;
    }
    .hr {
      margin: 20px 0; 
      height: 1px;
      background-color: #646b75;
      width: 70px;
    }
    .links {
      display: flex;
      justify-content: center;
      a {
        margin-left: 15px;
        &:first-child {
          margin-left: 0;      
        }
        img {
          &:hover {
            opacity: 0.8;
            transition: 0.2s;
          }
        }
      }
    }
  }
}
@media only screen and (max-width : 992px) {
  .our_team {
    padding-bottom: 70px; 
  }
}
// CLIENTS
// CLIENTS
// CLIENTS
.clients {
  padding-top: 30px;
  padding-bottom: 30px;
  .row {
    align-items: center;
    justify-content: space-between;
  }    
}
@media only screen and (max-width : 992px) {
  .clients {
    .row {
      align-items: center;
      justify-content: space-between;
      a {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }    
  }
}
@media only screen and (max-width : 575px) {
  .clients {
    .row {
      flex-direction: column;
      a {
        width: auto;
        padding-bottom: 20px;
      }
    }    
  }
}
// CONTACT
// CONTACT
// CONTACT
.contacts {
  background-image: url(../img/contacts_back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 55px;
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    color: white;
    font-size: 30px;
    font-weight: 300;
  }
  form {
    width: 100%;
    max-width: 550px;
    margin-top: 30px;
    .input_Box {
      height: 45px;
      display: flex;
      align-items: center;
      margin-top: 10px;
      position: relative;
      .back {
        background-color: #fcfcfc;
        border: 1px solid white;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.67;
      }
      input {
        width: 100%;
        padding-left: 20px;
        border: none;
        background-color: transparent;
        position: relative;
        z-index: 1;
        &::placeholder {
          color: #19242a;      
        }
      }
      img {
        padding-right: 15px;
        position: relative;
        z-index: 1;      
      }
    }
    .textarea_Box {
      height: 100px;
      width: 100%;
      margin-top: 10px;
      position: relative;
      .back {
        background-color: #fcfcfc;
        border: 1px solid white;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.67;
      }
      textarea {
        height: 100px;
        width: 100%;
        padding: 15px 15px 15px 20px;
        border: none;
        resize: none;
        background-color: transparent;
        position: relative;
        z-index: 1;
        &::placeholder {
          color: #19242a;      
        }      
      }      
    }
    .btn_Box {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 30px;
      .send {
        width: 120px;
        height: 45px;
        background-color: #64737f;
        border: 1px solid #707e89;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        p {
          color: white;
          font-size: 11px;
          font-weight: 300;
          text-transform: uppercase;     
        }
      }
      .close {
        width: 120px;
        height: 45px;
        background-color: #64737f;
        border: 1px solid #707e89;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1 !important;
        p {
          color: white;
          font-size: 11px;
          font-weight: 300;
          text-transform: uppercase;     
        }
        img {
          margin-left: 5px;
          margin-top: 1px;
        }
      }
    }
  }
}
@media only screen and (max-width : 575px) {
  .contacts {
    padding-left: 10px;
    padding-right: 10px;
  }
}
// TWITTER
// TWITTER
// TWITTER
.twitter {
  background-color: $blue;
  .twitter_Row {
    width: 100%;
    display: flex;
  }
  .twitter_Box {
    width: 120px;
    min-width: 120px;
    height: 100%;
    min-height: 120px;
    background-color: #1f9cda;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      right: -20px;
      top: 22px;
      border-bottom: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 17px solid #1f9cda;
    }
  }
  .swiper3 {
    width: 100%;
    .swiper-slide {
      width: 100%;
      padding: 20px 60px 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .who {
      color: #bbdbef;
      font-style: italic;
      font-size: 16px;
      span {
        color: white;
        font-style: normal;
        font-size: 16px;      
      }
    }
    .when {
      color: #bbdbef;
      font-style: italic;
      font-size: 12px;
    }
    .swiper-button-prev {
      left: auto !important;
      right: 30px !important;
      top: 60% !important;
      width: 30px;
      height: 30px;
      background-image: url(../img/twitter_arrow_Left.png) !important;
      background-repeat: no-repeat;
      background-position: center;
      &::after {
        content: "" !important;      
      }
    }
    .swiper-button-next {
      right: 0px;
      top: 60% !important;
      width: 30px;
      height: 30px;
      background-image: url(../img/twitter_arrow_Right.png) !important;
      background-repeat: no-repeat;
      background-position: center;
      &::after {
        content: "" !important;      
      }        
    }
  }
}
@media only screen and (max-width: 575px) {
  .twitter {
    padding: 20px;
    .twitter_Row {
      flex-direction: column;
    }
    .twitter_Box {
      width: 80px;
      min-width: 80px;
      height: 80px;
      min-height: 80px;
      &::after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        right: 20px;
        top: auto;
        bottom: -20px;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        border-right: 17px solid #1f9cda;
      }
    }
    .swiper-slide {
      width: 100%;
      padding: 20px 80px 20px 0px !important;
    }
    .who {
      font-size: 14px;
      span {
        font-size: 14px;      
      }
    }
    .when {
      font-size: 10px;
    }
  }
}
// PREFOOTER
// PREFOOTER
// PREFOOTER
.prefooter {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #19242a;
  .logo_Col {
    .prefooter-logo {
      display: flex;
      align-items: center;
      padding: 10px 0;
      .marine {
        font-family: "Montserrat", sans-serif;
        color: #547e93;
        font-size: 20px;
        letter-spacing: 5px;
        margin: 10px 0 0 20px;
      }
    }
    .text {
      font-size: 12px;
      color: #7ca1b3;
    }
  }
  h4 {
    color: #7ca1b3;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  .recent_posts {
    .recent_posts__post {
      .date {
        text-transform: uppercase;
        color: #7ca1b3;
        font-size: 10px;
        margin-bottom: 3px;
      }
      .title {
        font-style: italic;
        color: #bdd2dc;
        font-size: 13px;
        margin-bottom: 3px;
      }
      .text {
        color: #7ca1b3;
        font-size: 12px;
      }
    }
    .hr {
      width: 100%;
      height: 1px;
      background-color: $blue_dark2;
      margin: 15px 0;
    }
  }
  .prefooter-contacts {
    .prefooter-contact__item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      img {
        margin-right: 10px;
        margin-top: 5px;
      }
      p {
        font-size: 12px;
        color: #7ca1b3;
      }
    }
  }
  .newsletter_text {
    font-size: 12px;
    color: #7ca1b3;
    margin-bottom: 15px;
  }
  form {
    background-color: $blue_dark2;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 20px;
    input {
      border: none;
      background-color: transparent;
      color: white;
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
  .followUs_links {
    display: flex;
    a {
      margin-left: 15px;
      &:first-child {
        margin-left: 0;
      }
      img {
        &:hover {
          opacity: 0.8;
          transition: 0.2s;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  .prefooter {
    .col-md-6 {
      margin-top: 40px;
    }
  }
}
// FOOTER
// FOOTER
// FOOTER
footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #141d22;
  p {
    font-size: 12px;
    color: #547e93;
  }
}
@media only screen and (max-width: 575px) {
  footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}